# Logs & build output
dist
dist-ssr
*.local
*.tsbuildinfo

# Dependencies
node_modules

# Env files
.env
.env.*
!.env.example

# System & IDE
.DS_Store
Thumbs.db
Desktop.ini
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea

# Tooling
.agents
.conversation
.cache

.vercel
